div {
    width: 100px;
    height: 100px;
    padding: 15px;
    p {
        font-size: 20px;
        @extend font-size: 20px; 
        color: white;
        font-family: Arial, sans-serif;  
    }
        } 

body{
    background-image: url(/IMG/Rojiblanco.jpeg); background-color: red;
    b
    padding: 20px;
    main{
        .carousel{
            margin: 30px;
            width: 50%;
            height: 30%;
            display: flex;
            -ms-flex-align: center;
        }
    }
}  

@media screen and (max-width: 600px) {
    body{
        background-color: rgb(255, 0, 0);
        width: 100%;
    }
}

@mixin carousel-inner{
    margin: 30px;
            width: 400px;
            height: 400px;
            display: flex;
            -ms-flex-align: center;
}